
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="row">

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Seo Ayarları</h4>
                    <form class="forms-sample" method="post" action="Seo">
                        @foreach (var item in ViewBag.Seo)
                        {
                            <div class="form-group">
                                <label>Başlık</label>
                                <input type="text" class="form-control" value="@item.Title" name="Title">
                            </div>
                            <div class="form-group">
                                <label>Anahtar Kelime</label>
                                <input type="text" class="form-control" value="@item.Keyword" name="Keyword">
                            </div>
                            <div class="form-group">
                                <label>İçerik</label>
                                <input type="text" class="form-control" value="@item.Content" name="Content">
                            </div>

                            <div class="form-group">
                                <label>Map</label>
                                <input type="text" class="form-control" value="@item.Map" name="Map">
                            </div>

                        }

                        <button type="submit" class="btn btn-success mr-2">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sosyal Medya Ayarları</h4>
                    <form class="forms-sample" method="post" action="SocialMedia">
                        @foreach (var item in ViewBag.SocialMedia)
                        {
                            <div class="form-group">
                                <label>Facebook</label>
                                <input type="text" class="form-control" value="@item.Facebook" name="Facebook">
                            </div>
                            <div class="form-group">
                                <label>Instagram</label>
                                <input type="text" class="form-control" value="@item.Instagram" name="Instagram">
                            </div>
                            <div class="form-group">
                                <label>YouTube</label>
                                <input type="text" class="form-control" value="@item.YouTube" name="YouTube">
                            </div>

                            <div class="form-group">
                                <label>Twitter</label>
                                <input type="text" class="form-control" value="@item.Twitter" name="Twitter">
                            </div>

                        }

                        <button type="submit" class="btn btn-success mr-2">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Site Ayarları</h4>
                    <form class="forms-sample" method="post" action="SiteSetting">
                        @foreach (var item in ViewBag.SiteSetting)
                        {
                            <div class="form-group">
                                <label>Telefon</label>
                                <input type="tel" class="form-control" value="@item.Telefon" name="Telefon">
                            </div>
                            <div class="form-group">
                                <label>WhatsApp</label>
                                <input type="tel" class="form-control" value="@item.WhatsApp" name="WhatsApp">
                            </div>
                            <div class="form-group">
                                <label>Adress</label>
                                <input type="text" class="form-control" value="@item.Adres" name="Adres">
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" value="@item.Email" name="Email">
                            </div>

                        }

                        <button type="submit" class="btn btn-success mr-2">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Mail Ayarları</h4>
                    <form class="forms-sample" method="post" action="MailSetting">
                        @foreach (var item in ViewBag.MailSetting)
                        {
                            <div class="form-group">
                                <label>Sender Information</label>
                                <input type="tel" class="form-control" value="@item.SenderInformation" name="SenderInformation">
                            </div>
                            <div class="form-group">
                                <label>SmtpServer</label>
                                <input type="tel" class="form-control" value="@item.SmtpServer" name="SmtpServer">
                            </div>
                            <div class="form-group">
                                <label>SmtpPort</label>
                                <input type="text" class="form-control" value="@item.SmtpPort" name="SmtpPort">
                            </div>

                            <div class="form-group">
                                <label>Mail Sender</label>
                                <input type="email" class="form-control" value="@item.MailSender" name="MailSender">
                            </div>    
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" value="@item.Email" name="Email">
                            </div>    <div class="form-group">
                                <label>Email Pass</label>
                                <input type="password" class="form-control" value="@item.EmailPass" name="EmailPass">
                            </div>

                        }

                        <button type="submit" class="btn btn-success mr-2">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
